.navbar {
    background: #fff279;
}

.navbar span {
    letter-spacing: 5px;
    font-size: 30px;
}

#friendsBtn {
    transition: .3s ease;
    background: #fff279;
    color: #000000;
}

#friendsBtn:hover {
    background-image: radial-gradient(circle,#fdfdec, #fff279);
}

.jumbotron {
    background-image: url(../images/friends.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 500px;
}

.jbtPara {
    margin-top: 170px;
}

#homeLinks {
    margin-top: -20px;
    border-right: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    
}

#homeLinks a:hover {
    transition: .3s ease;
    text-decoration: none;
    border-right: 3px solid #444343;
    border-left: 3px solid #444343;
    margin: 0 10px;
}

.page-footer {
    background: #fff279;
}

