.navbar {
    background: #fff279;
}

.navbar span {
    letter-spacing: 5px;
    font-size: 30px;
}

.navbar-nav a:hover {
    color: #000000 !important;
}

#friendsBtn {
    transition: .3s ease;
    background: #fff279;
    color: #000000;
}

#friendsBtn:hover {
    background-image: radial-gradient(circle,#fdfdec, #fff279);
}

.jumbotron {
    background-image: url(../images/friends.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 500px;
}

.jbtPara {
    margin-top: 170px;
}


.page-footer {
    background: #fff279;
}

.modal-header {
    border-bottom: 3px solid #fff279;
}

.modal-footer {
    background: #fff279;  
}

